@media (min-width: 1200px) and (max-width: 1399.99px) {
    .grocery_details_img {
        height: 450px;
    }

    .grocery_heading h2 {
        font-size: 36px;
    }

    .grocery_single_review {
        height: 270px;
    }

    .billing_orders_product li h6 {
        width: 25%;
    }

    .billing_orders_product li .product {
        width: 73%;
    }

    .grocery_banner_text h1 {
        font-size: 62px;
    }

    .billing_orders_top h6 {
        width: 25%;
    }

    .grocery_banner_img .img {
        height: 390px !important;
    }

    .grocery_banner_text h1 {
        font-size: 48px;
    }

    .grocery_banner_text .border_text h4,
    .grocery_banner_text .border_text a {
        font-size: 20px;
    }

    .grocery_banner {
        height: 800px;
    }

}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .grocery_heading h2 {
        font-size: 32px;
    }

    .grocery_details_img {
        height: 455px;
    }

    .grocery_details_three .grocery_details_text {
        margin-left: 25px;
    }

    .grocery_single_review {
        height: 335px;
    }

    .product_select_details .text {
        width: 67%;
    }

    .billing_orders_product li .product .text {
        width: 60%;
    }

    .billing_orders_subtotal .subtotal h5,
    .billing_orders_total h5 {
        width: 30%;
    }

    .billing_orders_subtotal .subtotal .charge,
    .billing_orders_subtotal .subtotal h6,
    .billing_orders_total h6 {
        width: 70%;
    }

    .billing_details {
        margin-right: 25px;
    }

    .grocery_banner_text h1 {
        font-size: 40px;
    }

    .grocery_banner_text .border_text h4,
    .grocery_banner_text .border_text a {
        font-size: 20px;
    }

    .grocery_banner {
        height: 700px;
    }

    .grocery_banner_img .img {
        height: 320px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .grocery_banner_text h1 {
        font-size: 48px;
    }

    .grocery_banner_img {
        margin-top: 50px;
    }

    .grocery_banner_img .img {
        width: 500px;
        height: 430px !important;
    }

    .grocery_details_img {
        height: 335px;
    }

    .grocery_heading h2 {
        font-size: 24px;
    }

    .grocery_details_three .grocery_details_text {
        margin-left: 0;
    }

    .grocery_single_review {
        height: 380px;
    }

    .product_select_details .text {
        width: 80%;
    }

    .main_menu .container {
        padding: 7px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 40px;
        background: var(--colorWhite);
        padding: 10px 15px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        padding: 15px;
        border-top: 1px solid #eee;
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
    }

    .navbar-collapse {
        border: 1px solid #eee;
        border-top: 0;
        margin-top: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0 0 8px 8px;
    }

    .grocery_banner {
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .grocery_banner_text h1 {
        font-size: 36px;
    }

    .grocery_banner_text .border_text {
        display: flex;
        gap: 5px;
        padding: 20px 20px;
    }

    .grocery_banner_img {
        margin-top: 50px;
    }

    .grocery_banner_img .img {
        height: 445px !important;
    }

    .grocery_heading h2 {
        font-size: 28px;
    }

    .grocery_details_img {
        height: 515px;
        margin: 25px 0 0 0;
    }

    .grocery_details_three .grocery_details_img {
        margin: 0 0 25px 0;
    }

    .grocery_details_three .grocery_details_text {
        margin-left: 0;
    }

    .grocery_offer_text h4 {
        font-size: 20px;
    }

    .grocery_offer_text h3,
    .grocery_offer_text h3 span {
        font-size: 36px;
        margin-top: 20px;
    }

    .grocery_single_review {
        height: 280px;
    }

    .billing_checkout_form {
        padding: 25px;
    }

    .billing_details {
        margin-right: 0;
    }

    .billing_details h4 {
        font-size: 24px;
    }

    .billing_orders_product li .product {
        width: 73%;
    }

    .billing_orders_product li h6 {
        width: 25%;
    }

    .billing_orders_product li .product .text {
        width: 65%;
        margin-left: 20px;
    }

    .product_select_details {
        width: 97%;
    }

    .product_select_details .text {
        width: 73%;
        margin-left: 15px;
    }

    .billing_checkout_form h3 {
        font-size: 20px;
    }

    .billing_orders_subtotal .subtotal h5,
    .billing_orders_total h5 {
        width: 30%;
    }

    .billing_orders_subtotal .subtotal .charge,
    .billing_orders_subtotal .subtotal h6,
    .billing_orders_total h6 {
        width: 68%;
    }

    .billing_orders_top h6 {
        width: 25%;
    }

    .main_menu .container {
        padding: 7px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 40px;
        background: var(--colorWhite);
        padding: 10px 15px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        padding: 15px;
        border-top: 1px solid #eee;
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
    }

    .navbar-collapse {
        border: 1px solid #eee;
        border-top: 0;
        margin-top: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 0 0 14px 14px;
    }

    .grocery_details,
    .grocery_offer {
        padding: 50px 0px;
    }

    .product_payment_accordion .accordion-body {
        padding: 25px;
    }

    .grocery_banner {
        padding: 125px 0px 50px 0px;
        height: auto;
    }
}

@media (max-width: 575.99px) {
    .grocery_banner_text h1 {
        font-size: 36px;
    }

    .grocery_banner_text .border_text h4,
    .grocery_banner_text .border_text a {
        font-size: 18px;
    }

    .grocery_banner_text .border_text {
        display: flex;
        gap: 5px;
        padding: 20px 20px;
    }

    .grocery_banner_img {
        margin-top: 50px;
    }

    .grocery_banner_img .img {
        height: auto !important;
    }

    .grocery_heading h2 {
        font-size: 24px;
    }

    .grocery_details_img {
        height: auto;
        margin: 25px 0 0 0;
    }

    .grocery_details_three .grocery_details_img {
        margin: 0 0 25px 0;
    }

    .grocery_details_three .grocery_details_text {
        margin-left: 0;
    }

    .accordion-button {
        font-size: 18px;
    }

    .grocery_offer_text h4 {
        font-size: 24px;
    }

    .grocery_offer_text h3,
    .grocery_offer_text h3 span {
        font-size: 32px;
        margin-top: 20px;
    }

    .grocery_single_review {
        height: auto;
    }

    .billing_checkout_form {
        padding: 25px;
    }

    .billing_details {
        margin-right: 0;
    }

    .billing_details h4 {
        font-size: 24px;
    }

    .billing_orders_product li .product {
        width: 73%;
    }

    .billing_orders_product li h6 {
        width: 25%;
    }

    .billing_orders_product li .product .text {
        width: 55%;
        margin-left: 15px;
    }

    .billing_orders_product li .product .text h5 {
        font-size: 14px;
    }

    .billing_orders_subtotal .subtotal .form-check-label {
        font-size: 13px;
    }

    .product_select {
        padding: 20px 10px;
    }

    .product_select .form-check {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .product_select_details {
        margin-left: 5px;
        width: 99%;
    }

    .product_select_details .text {
        width: 66%;
        margin-left: 10px;
    }

    .product_select_details .img {
        width: 70px;
        height: 70px;
    }

    .product_select_details .text h6 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .billing_checkout_form h3 {
        font-size: 20px;
    }

    .billing_orders_top h6 {
        width: 25%;
    }

    .main_menu .container {
        padding: 7px 0px;
    }

    .main_menu .navbar-nav {
        line-height: 40px;
        background: var(--colorWhite);
        padding: 10px 15px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        padding: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .navbar-toggler {
        margin-right: 12px;
    }

    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 5px;
    }

    .grocery_details,
    .grocery_offer {
        padding: 50px 0px;
    }

    .grocery_banner {
        padding: 125px 0px 50px 0px;
        height: auto;
    }

    .product_payment_accordion .accordion-body {
        padding: 20px;
    }
}