* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorGreen: #29A56C;
    --colorOrange: #ffa500;
    --colorRed: #ED1C24;
    --lightBg: #F0F2F5;
    --colorWhite: #ffffff;
    --colorBlack: #222222;
    --paraColor: rgba(4, 6, 24, 0.50);
}

.common_btn {
    border: 1px solid var(--colorGreen);
    padding: 2px;
    border-radius: 6px;
}

.common_btn span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    color: var(--colorWhite);
    background: var(--colorGreen);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 5px;
}


.common_btn:hover span {
    background: #147a4b;
}

/* GROCERY BANNER START */
.grocery_banner {
    background: var(--colorGreen);
    padding: 100px 0px 80px 0px;
    position: relative;
    z-index: 1;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.grocery_banner_text {
    text-align: center;
}

.grocery_banner_text h1 {
    color: var(--colorWhite);
    text-align: center;
    font-size: 68px;
    font-weight: 600;
    margin-bottom: 40px;
}

.grocery_banner_text .border_text {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--colorOrange);
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 10px;
}

.grocery_banner_text .border_text h4 {
    color: var(--colorWhite);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.grocery_banner_text .border_text a {
    color: var(--colorWhite);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.grocery_banner_img {
    width: 1000px;
    margin: 60px auto 0 auto;
    animation: bannerAnimi linear 1s infinite alternate;
    -webkit-animation: bannerAnimi linear 1s infinite alternate;
}

@keyframes bannerAnimi {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

/* GROCERY BANNER END */
.grocery_heading h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.center_heading {
    text-align: center;
}

.grocery_details,
.grocery_offer {
    background: var(--lightBg);
    padding: 100px 0px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.grocery_details_text ul {
    margin-bottom: 45px;
}

.grocery_details_text ul li::after {
    position: absolute;
    content: "\f00c";
    font-family: "font awesome 5 free";
    font-size: 11px;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    background: var(--colorGreen);
    color: var(--colorWhite);
}

.grocery_details_img {
    height: 525px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grocery_offer_text {
    text-align: center;
}

.grocery_offer_text h4 {
    font-size: 28px;
    font-weight: 600;
}

.grocery_offer_text h4 del {
    color: var(--colorRed);
}

.grocery_offer_text h3,
.grocery_offer_text h3 span {
    font-size: 44px;
    font-weight: 700;
    color: var(--colorRed);
    margin-top: 20px;
}

.grocery_offer_text h3 span {
    color: var(--colorGreen);
}

.grocery_offer_text h5,
.grocery_offer_text h5 span {
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.grocery_offer_text h5 span {
    color: var(--colorGreen);
}

.grocery_offer_text .grocery_btn {
    margin-top: 32px;
}

.grocery_single_review {
    height: 320px;
    margin: 0px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}

.grocery_review .grocery_heading {
    margin-bottom: 30px;
}

.grocery_review .slick-dots {
    gap: 8px;
    display: flex;
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 3;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.grocery_review .slick-dots li button {
    width: 14px;
    height: 14px;
    font-size: 0;
    border-radius: 50%;
    background: #d3d0d0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.grocery_review .slick-dots button:hover,
.grocery_review .slick-dots .slick-active button {
    background: var(--colorGreen);
}


.center_heading {
    text-align: center;
}

.grocery_details_text ul li {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--colorBlack);
    padding-left: 30px;
    margin-top: 16px;
}

.grocery_details_text .grocery_btn {
    margin-top: 22px;
}

.grocery_details_three .grocery_details_text {
    margin-left: 50px;
}

.billing_form {
    margin-top: 90px;
}

.billing_checkout_form {
    padding: 75px 50px 50px 50px;
    border-top: 12px solid var(--colorGreen);
    border-right: 4px solid var(--colorGreen);
    border-left: 4px solid var(--colorGreen);
    border-bottom: 4px solid var(--colorGreen);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.billing_checkout_form h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--colorBlack);
}

.product_select {
    padding: 20px 20px;
    background: var(--lightBg);
    margin-top: 25px;
    border-radius: 14px;
}

.product_select .form-check-input {
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #838282;
}

.product_select .form-check-input:focus {
    box-shadow: none;
    border-color: transparent;
}

.product_select .form-check-input:checked {
    border-color: var(--colorGreen);
    background-color: var(--colorGreen);
}

.product_select_details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    width: 96%;
}

.product_select .form-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product_select_details .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product_select_details .text {
    width: 70%;
    margin-left: 20px;
}

.product_select_details .text h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--colorBlack);
}

.product_select_details .text span {
    font-size: 16px;
    font-weight: 600;
    color: var(--colorBlack);
}

.billing_details {
    margin-top: 60px;
    margin-right: 60px;
}

.billing_details h4 {
    font-size: 25px;
    font-weight: 600;
    color: var(--colorBlack);
}

.billing_single_input {
    margin-top: 20px;
}

.billing_single_input label {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.billing_single_input label span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    color: var(--colorRed);
}

.billing_orders {
    margin-top: 60px;
}

.billing_orders h4 {
    font-size: 25px;
    font-weight: 600;
    color: var(--colorBlack);
}

.billing_orders_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--BorderColor);
}

.billing_orders_top h5 {
    width: 65%;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.billing_orders_top h6 {
    width: 35%;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.billing_orders_product {
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
}

.billing_orders_product li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.billing_orders_product li .product {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.billing_orders_product li .product .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.billing_orders_product li .product .text {
    width: 66%;
    margin-left: 20px;
}

.billing_orders_product li .product .text h5 {
    font-size: 16px;
    font-weight: 600;
}

.billing_orders_product li h6 {
    width: 35%;
    font-size: 16px;
    font-weight: 600;
}

.product_quantity {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.product_quantity button {
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
}

.product_quantity input {
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.product_quantity input::placeholder {
    color: #1A1E23;
}

.billing_orders_subtotal {
    margin-top: 15px;
    border-bottom: 1px dashed #ddd;
}

.billing_orders_subtotal .subtotal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.billing_orders_subtotal .subtotal h5 {
    width: 40%;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.billing_orders_subtotal .subtotal h6 {
    width: 60%;
    font-size: 18px;
    font-weight: 600;
    color: var(--colorBlack);
}

.billing_orders_subtotal .subtotal .charge {
    width: 60%;
}

.billing_orders_subtotal .subtotal .form-check {
    margin-bottom: 10px;
}

.billing_orders_subtotal .subtotal .form-check-input {
    padding: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #7d8188;
}

.billing_orders_subtotal .subtotal .form-check-label {
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px;
}

.billing_orders_subtotal .subtotal .form-check-input:focus {
    box-shadow: none;
    border-color: transparent;
}

.billing_orders_subtotal .subtotal .form-check-input:checked {
    border-color: var(--colorGreen);
    background-color: var(--colorGreen);
}

.billing_orders_total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.billing_orders_total h5 {
    width: 40%;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.billing_orders_total h6 {
    width: 60%;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.product_payment {
    margin-top: 45px;
}

.product_payment .accordion {
    background: var(--lightBg);
    padding: 10px 25px;
    border-radius: 12px;
}

.product_payment_accordion .accordion-item {
    border: none;
    background: none;
    margin: 0 !important;
}

.product_payment_accordion .accordion-button:not(.collapsed) {
    color: var(--colorBlack);
    background-color: transparent;
    box-shadow: none;
}

.product_payment_accordion .accordion-button:focus {
    box-shadow: none;
}

.product_payment_accordion .accordion-button {
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    text-transform: capitalize;
    background: none;
    color: var(--colorBlack);
    padding: 15px 0 15px 10px;
}

.product_payment_accordion .accordion-button.collapsed::before {
    border: 1px solid #7d8188;
}

.product_payment_accordion .accordion-button::before {
    position: relative;
    content: "";
    top: 0;
    left: -10px;
    width: 18px;
    height: 18px;
    background: var(--colorWhite);
    border: 5px solid var(--colorGreen);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.product_payment_accordion .accordion-button::after {
    position: relative;
    content: "";
    top: 0;
    left: -525px;
    width: 18px;
    height: 18px;
    background: var(--colorWhite);
    border: 5px solid var(--colorRed);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}

.product_payment_accordion .accordion-button img {
    width: 60px !important;
    height: 26px !important;
    margin-left: 10px;
}

.product_payment_accordion .accordion-body {
    background: var(--colorWhite);
    /* margin: 0px 20px; */
    position: relative;
    border-radius: 10px;
}

.product_payment_accordion .accordion-body p,
.product_payment_accordion .accordion-body span {
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.product_payment_accordion .accordion-body .pay_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.product_payment_accordion .accordion-body .pay_info label {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.product_payment_accordion .accordion-body .pay_info input {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 15px 4px;
}

.accordion-collapse {
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.accordion-collapse .accordion-body::before {
    position: absolute;
    content: "";
    top: -13px;
    left: 30px;
    width: 25px;
    height: 15px;
    background: var(--colorWhite);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0;
    transition: all linear .1s;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -ms-transition: all linear .1s;
    -o-transition: all linear .1s;
}

.accordion-collapse.show .accordion-body::before {
    opacity: 1;
}

.product_payment_btn {
    margin-top: 10px;
}

.product_payment_btn p {
    font-size: 13px;
    font-weight: 500;
}

.product_payment_btn p a {
    color: var(--colorRed);
}

.product_payment_btn button {
    width: 100%;
    margin-top: 20px;
}

.product_payment_btn button span {
    padding: 12px 10px;
}

.grocery_copy_right {
    padding: 20px 0px;
    background: var(--colorGreen);
}

.grocery_copy_right_text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.grocery_copy_right_text p {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.grocery_copy_right_text p span {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--colorBlue);
    margin-left: 10px;
}

.grocery_faq {
    background: var(--colorMaroon);
}

.accordion-item {
    margin-top: 10px;
    border: none;
    border-radius: 10px !important;
    overflow: hidden;
}

.accordion-button {
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    background: var(--colorOrange);
    box-shadow: none !important;
    outline: none;
}

.accordion-button:not(.collapsed) {
    color: var(--colorWhite);
    background-color: transparent;
    box-shadow: none;
    background: var(--colorGreen);
}

.accordion-button::after {
    filter: invert(99%) sepia(32%) saturate(4%) hue-rotate(33deg) brightness(107%) contrast(100%);
    -webkit-filter: invert(99%) sepia(32%) saturate(4%) hue-rotate(33deg) brightness(107%) contrast(100%);
}

.accordion-body {
    background: var(--lightBg);
    padding: 30px;
    font-size: 16px;
}

.billing_single_input .select2-container--default .select2-selection--single {
    border: 1px solid #E4E7E9;
    border-radius: 8px !important;
}